@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Medium.ttf) format("truetype");
}


.root {
    -fx-font-family: "Quicksand";
    -fx-font-size: 12pt;
}

.bg-1 {
    -fx-background-color: #FFFFFF;
}

.bg-2 {
    -fx-background-color: #373737;
    -fx-text-fill: #FFFFFF;
}

.title {
    -fx-font-size: 27pt;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.bg-3 {
    -fx-background-color: #ffffff;
}

.bg-4 {
    -fx-background-color: #ffffff;
    -fx-text-fill: #373737;
    -fx-font-size: 42pt;
    -fx-font-weight: bold;
}

.bg-5 {
    -fx-background-color: #c4c4c4;
    -fx-text-fill: #373737;
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
}

.bg-6 {
    -fx-background-color: #c4c4ff;
}


.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 3px;
}

.border-pane {
    -fx-background-color: transparent, -fx-background;
}

.search {
    -fx-font-family: "Quicksand";
    -fx-font-size: 18;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-radius: 25px;
    -fx-border: gone;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.search:focused {
    -fx-border-color: #67b7ff;
}

.imagebtn {
    -fx-background-color: transparent;
}

.addCity{
    -fx-font-family: "Quicksand";
    -fx-font-size: 18;
    -fx-border-color: grey;
    -fx-border-width: 2;
    -fx-border-radius: 25px;
    -fx-border: gone;
    -fx-background-radius: 25px;
    -fx-text-fill: black;
}

.addCity:focused{
    -fx-border-color: #67b7ff;
}

.list-view, .list-cell {
    -fx-background-color: transparent;
}

.favorites-item-label {
    -fx-text-fill: #323232;
    -fx-font-size: 15pt;
}