@font-face {
    font-family: "Quicksand";
    src: url(./Quicksand-Regular.ttf) format("truetype");
}

.root {
    -fx-font-family: "Quicksand";
    -fx-font-size: 12pt;
}

Label {
    -fx-padding: 10px;
}

.bg-1 {
    -fx-background-color: #FFFFFF;
}

.bg-2 {
}

.bg-3 {
    -fx-background-color: #ffefc8;
}

.bg-4 {
    -fx-background-color: #ceffc6;
}

.bg-5 {
    -fx-background-color: #befaff;
}

.bg-6 {
    -fx-background-color: #c4c4ff;
}


